.background-image {
    background-image: url('menu.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    overflow: hidden;
}

nav {
    position: absolute;
    right: -75px; /* Ustawiamy przyciski tak, aby wystawały z prawej strony */
    top: calc(30% - 20px); /* Przesuwamy przyciski o 20px wyżej */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    background-color: white; /* Białe tło */
    color: black; /* Czarny tekst */
    border: 0.2rem solid black; /* Czarna ramka, zwiększona grubość */
    padding: 1rem 3rem; /* Zwiększone paddingi dla większej powierzchni kliknięcia */
    font-family: 'Bebas Neue', sans-serif; /* Czcionka Bebas Neue */
    font-size: 2rem; /* Zwiększona wielkość czcionki */
    border-radius: 1rem; /* Większe zaokrąglenia rogów */
    text-decoration: none; /* Usunięcie podkreślenia tekstu */
    display: inline-block; /* Pozwala na stosowanie paddingu i innych właściwości bloku */
    cursor: pointer; /* Kursor wskaźnika */
    transition: all 0.3s ease; /* Gładka animacja przejścia */
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* Dodanie subtelnego cieniowania */
    margin: 10px 0;
    width: 200px; /* Szerokość przycisku */
}

.button:hover {
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }
    70% {
        transform: scale(1.05);
        box-shadow: 0 0 0.8rem 0.8rem rgba(0, 0, 0, 0);
    }
    100% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}
